<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">

    <title>Блог про ИТ профессии</title>
</head>
<!--шапка, верхнее меню-->
<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">

            <a class="navbar-brand" href="index.html"><img src="img/logo.png" width="64" height="64"
                                                           alt="Alex Logo"/> Coder Blog</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-responsive"
                    aria-controls="navbar-responsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-responsive">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="static-template.html">Обо мне</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacts.html">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!--страница с контентом-->
<div class="greeting">
    <div class="container">
        <div class="row">
            <div class="col">
            </div>
        </div>
        <!-- Post -->
        <div class="page-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <!--Заголовок-->
                        <h1 class='title'>Пост о программистах</h1>
                        <hr>
                        <p>Опубликовано: 21 марта 2022 года </p>
                        <hr>
                        <!-- Тело поста-->
                        <p><i>Пост про програмистов, которые программируют программистов.
                            Пост про програмистов, которые программируют. Если программисты программируют, то только потому что программы требуют этого.</i></p>


                        <div class="text-center">
                            <p><a href="#"
                                  title="Doctor at play"
                                  target=_blank><img
                                    src="img/it1.jpeg" alt="Doctor at play"></a></p>

                            <div>
                                <a class="btn" data-toggle="collapse"
                                   data-target="#collapseFoto" aria-expanded="true"
                                   aria-controls="#collapseFoto">
                                    <span class="category"> Читать скрытый текст</span>
                                </a></div>
                            <div class="collapse" id="collapseFoto">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Suspendisse eget metus cursus, fringilla ex nec, tincidunt libero.
                            Praesent porta dictum faucibus. In facilisis, nisi ut facilisis eleifend, lacus lorem molestie augue, eu vulputate lacus ipsum eget ante.
                            Morbi ac orci ac dolor fermentum volutpat a eget dui.
                            Aenean placerat volutpat urna, et laoreet urna egestas et. Nam porta accumsan ipsum ut gravida.
                            Nam ut augue sodales, euismod orci quis, hendrerit ipsum. </p>

                            </div>
                        </div>

                        <p class="offtop"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Suspendisse eget metus cursus, fringilla ex nec, tincidunt libero.
                            Praesent porta dictum faucibus. In facilisis, nisi ut facilisis eleifend, lacus lorem molestie augue, eu vulputate lacus ipsum eget ante.
                            Morbi ac orci ac dolor fermentum volutpat a eget dui.
                            Aenean placerat volutpat urna, et laoreet urna egestas et. Nam porta accumsan ipsum ut gravida.
                            Nam ut augue sodales, euismod orci quis, hendrerit ipsum. </p>
                        <!--рубрика-->
                        <hr>
                        <h6 class="lead"> Рубрика: <a class="category" href="cat.html">Coders</a></h6>
                        <hr>
                        <!-- навигация следующий/предыдущий пост-->
                        <div class="next-post">
                            <div class="container">

                                <div class="row">

                                    <div class="col-6 text-left">

                                        <a href="post.html">Предыщуший пост</a>
                                    </div>
                                    <div class="col-6 text-right">
                                        <a href="post.html">Следующий пост</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Comments Form -->
                        <div class="card my-4">
                            <a class="btn" data-toggle="collapse"
                               data-target="#collapseCommentForm" aria-expanded="true"
                               aria-controls="#collapseCommentForm">
                                <span class="category"> Оставить комментарий</span>
                            </a>
                            <div class="collapse" id="collapseCommentForm">
                                <div class="card-body">
                                    <form>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <input class="form-control" name="comment-name"
                                                               id="comment-name" placeholder="Имя">
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <input class="form-control" name="comment-email"
                                                               id="comment-email" placeholder="Почта">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <textarea class="form-control" name="comment-text"
                                                                  id="comment-text" rows="3"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-secondary">Отправить
                                                            комментарий
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- комментарии -->
                        <div class="comments">
                            <a href="mailto:#"><h6>Николай Прошин</h6></a>
                            <p>Автор давай еще!</p>
                            <hr>
                            <hr>
                        </div>
                        <div class="comments">
                            <a href="mailto:#"><h6>Иван Иванов</h6></a>
                            <p>Неплохо!</p>
                            <hr>
                            <hr>
                        </div>
                    </div>

                    <!--Правая колонка с виджетами и навигацией-->
                    <div class="col-lg-3">
                        <!-- Search Form -->
                        <div class="search">
                            <form>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="search" name="search"
                                           placeholder="Искать">
                                    <button type="submit" class="btn btn-secondary">OK</button>
                                </div>
                            </form>
                        </div>
                        <!-- меню с рубриками -->
                        <div class="rubrics">
                            <div class="card my-4">
                                <h5 class="card-header">Рубрики</h5>
                                <div class="card-body">
                                    <ul class="list-unstyled categories">
                                        <li>
                                            <a href="cat.html">Coders</a>
                                        </li>
                                        <li>
                                            <a href="cat.html">Designers</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--футер-->
<div class="pt-3 pb-3 "></div>
<nav class="navbar navbar-light bg-light">
    <div class="container">
        <div class="row">
            <a class="top-icon pb-3" href="mailto:savproga@mail.ru">Copyright &copy; 2022, Шакмаев Александр </a>
        </div>
    </div>
</nav>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
</body>
</html>